.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 64px;
    width: 100%;

    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;

    background-color: #FFFFFF;
    border-bottom: 1px solid #EFEFEF;
}

.subNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 183px;
    border-radius: 0px;
    gap: 13px;
}

.smallDot{
    background-color:#FB923C;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-radius: 50px;
}
